@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;  
  margin: 0;
  padding: 0;
}

.credit {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #8fc9da;
  width: 100%;
}

.credit a {
  color: #f06789;
  font-weight: 500;
  text-decoration: none;
}

.credit a:hover {
  color: #a94b7e;
}



